@font-face {
    font-family: 'Pokemon';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    // src: url("~@/assets/fonts/Inter-Regular.woff2") format("woff2"),
      src: url("~@/assets/fonts/Pokemon Solid.ttf") format("woff");
  }